<div class="panel panel-primary">
  <div class="panel-heading">List of merchants whose coupons are used</div>

  <div class="panel-body">
    <form method="post">
      {% if merchants|length == 0 %}
        No merchants.
      {% else %}
      <form method="post">
        <table class="table table-hover">
          <thead>
            <tr class="bg-info">
              <th><input type="checkbox" role="checkbox-rows"></th>
              <th>#</th>
              <th>Merchant</th>
              <th>Coupons</th>
              <th>Network</th>
              <th>Domain</th>
            </tr>
          </thead>
          <tbody>
            {% for merchant in merchants %}
              <tr>
                <td><input  type="checkbox"
                  role="checkbox-one-row"
                  name="merchants_id[]"
                  value="{{ merchant.id }}"></td>
                <td>{{ loop.index }}</td>
                <td>{{ merchant.name }}</td>
                <td>{{ merchant.coupons }}</td>
                <td>{{ merchant.network }}</td>
                <td>{{ merchant.domain }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>

    <div class="panel-footer">
      <button type="submit" name="action" value="new-source" class="btn btn-primary">Add New Source</button>
      <button type="submit" name="action" value="fetch-coupons" class="btn btn-default">Fetch New Coupons</button>
      <button type="submit" name="action" value="remove-merchants" class="btn btn-danger pull-right">Remove Selected Merchants</button>
    </div>
  </form>
</div>
